
<footer class="w3-center w3-black w3-padding-25" style="position: absolute;right: 0;bottom: 0;left: 0;background-color: #efefef;text-align: center;">

  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
    <i class="fa fa-flickr w3-hover-text-red"></i>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-twitter w3-hover-text-light-blue"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
  </div>
  <p>Copyright &copy;2017 Keshav Memorial Institute of Technology</p>
</footer>
