<div>

    Graph number: {{ graph.s_no }}

    <div id="graph"></div>

    <script language="JavaScript">

        Highcharts.chart('graph', {
            chart: {type: '{{ graph.type }}'},
            title: {text: '{{ graph.title }}'},
            subtitle: {text: '{{ graph.subtitle }}'},
            xAxis: {type: 'category'},
            yAxis: {
                title: {text: 'Performance'}
            },
            legend: {enabled: false},
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },
            series: [
                {
                    name: '{{ graph.series.name }}',
                    colorByPoint: true,
                    data: [
                        {% for bar in graph.series.bars %}
                            {
                                name: '{{ bar.name }}',
                                y: {{bar.value}},
                                {% ifequal bar.drilldown 'null' %}
                                    drilldown: null
                                {% else %}
                                    drilldown: '{{ bar.drilldown }}'
                                {% endifequal %}
                            },
                        {% endfor %}
                    ]
                }
            ],
            drilldown: {
                series: [
                    {% for series in Drilldown %}
                        {
                            name: '{{ series.name }}',
                            id: '{{ series.id }}',
                            colorByPoint: true,
                            data: [
                                {% for bar in series.bars %}
                                    {
                                        name: '{{ bar.name }}',
                                        y: {{ bar.value }},
                                        {% ifequal bar.drilldown 'null' %}
                                            drilldown: null
                                        {% else %}
                                            drilldown: '{{ bar.drilldown }}'
                                        {% endifequal %}
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}

                    {
                        name: 'Microsoft Internet Explorer',
                        id: 'Microsoft Internet Explorer',
                        colorByPoint: true,
                        data: [
                            {name: 'v11.0', y: 24.13, drilldown: 'Akhilez'},
                            {name: 'v12,0', y: 8.03, drilldown: null}
                        ]
                    },
                    {
                        name: 'Chrome',
                        id: 'Chrome',
                        colorByPoint: true,
                        data: [
                            {name: 'v1.0', y: 1, drilldown: null},
                            {name: 'v2.0', y: 2, drilldown: null},
                            {name: 'v3.0', y: 3, drilldown: null},
                            {name: 'v4.0', y: 4, drilldown: null}
                        ]
                    },
                    {
                        name: 'Akhilez',
                        id: 'Akhilez',
                        colorByPoint: true,
                        data: [['ABC',1.1],['DEF',1.2],['GHI',1.3],['JKL',1.4]]
                    }
                ]
            }
        });

    </script>

</div>