<div>

    <div id="graph2"></div>

    <script language="JavaScript">

        var prev_title2 = [];

        var chrt2 = Highcharts.chart('graph2', {
            chart: {
                {% ifequal graph2.type 'null' %}
                    type: 'column',
                {% else %}
                    type: '{{ graph2.type }}',
                {% endifequal %}
                renderTo: 'container',
                width: {{ graph2.width }},
                height: {{ graph2.height }},
                events: {
                    drilldown: function(e) {
                        {% if graph2.type == 'bar' %}
                            var len = e.seriesOptions.data.length;
                            var height_per_bar = {{ graph2.height_per_bar }};
                            var height = len * height_per_bar * 1.5;
                            this.setSize(this.width, height);
                        {% endif %}
                        chrt2.setTitle({ text: e.point.series.name + ' ' + e.point.name });
                        prev_title2.push(e.point.series.name)
                    },
                    drillup: function(e) {
                        {% if graph2.type == 'bar' %}
                            var len = e.seriesOptions.data.length;
                            var height_per_bar = {{ graph2.height_per_bar }};
                            var height = len * height_per_bar * 1.5;
                            this.setSize(this.width, height);
                        {% endif %}
                        chrt2.setTitle({ text: prev_title2.pop() });
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {text: '{{ graph2.title }}'},
            subtitle: {text: '{{ graph2.subtitle }}'},
            xAxis: {
                {% if graph2.type == 'line' %}
                    categories:[{% for bar in graph2.series.bars %}'{{ bar.name }}',{% endfor %}]
                {% else %}
                    type:'category'
                {% endif %}
            },
            yAxis: {
                title: {text: 'Performance'}
            },
            legend: {enabled: false},
            plotOptions: {
                {% if graph2.type == 'pie' %}
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y:.1f}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                {% else %}
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}'
                        }
                    }
                {% endif %}
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of 5<br/>'
            },
            series: [
                {
                    name: '{{ graph2.series.name }}',
                    colorByPoint: {{ graph2.series.color_by_point }},
                    data: [
                        {% for bar in graph2.series.bars %}
                            {% if graph2.type == 'line' %}
                                {{ bar.value }},
                            {% else %}
                                {
                                    name: '{{ bar.name }}',
                                    y: {{bar.value}},
                                    {% ifequal bar.drilldown 'null' %}
                                        drilldown: null
                                    {% else %}
                                        drilldown: '{{ bar.drilldown }}'
                                    {% endifequal %}
                                },
                            {% endif %}
                        {% endfor %}
                    ]
                }
            ],
            drilldown: {
                series: [
                    {% for series in graph2.drilldown %}
                        {
                            name: '{{ series.name }}',
                            id: '{{ series.id }}',
                            colorByPoint: {{ series.color_by_point }},
                            data: [
                                {% for bar in series.bars %}
                                    {
                                        name: '{{ bar.name }}',
                                        y: {{ bar.value }},
                                        {% ifequal bar.drilldown 'null' %}
                                            drilldown: null
                                        {% else %}
                                            drilldown: '{{ bar.drilldown }}'
                                        {% endifequal %}
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            }
        });

    </script>

</div>

