<div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="btn-group btn-group-sm">
            {% for typ in graph.types %}
                <input type="submit" class="btn btn-default" name="{{ typ }}" value="{{ typ }}">
            {% endfor %}
        </div>
    </form>

    <div id="graph"></div>

    <script language="JavaScript">

        var prev_title = [];

        var chrt = Highcharts.chart('graph', {
            chart: {
                {% ifequal graph.type 'null' %}
                    type: 'column',
                {% else %}
                    type: '{{ graph.type }}',
                {% endifequal %}
                renderTo: 'container',
                width: {{ graph.width }},
                height: {{ graph.height }},
                events: {
                    drilldown: function(e) {
                        {% if graph.type == 'bar' %}
                            var len = e.seriesOptions.data.length;
                            var height_per_bar = {{ graph.height_per_bar }};
                            var height = Math.sqrt(len) * height_per_bar * 5;
                            this.setSize(this.width, height);
                        {% endif %}
                        chrt.setTitle({ text: e.point.series.name + ' ' + e.point.name });
                        prev_title.push(e.point.series.name)
                    },
                    drillup: function(e) {
                        {% if graph.type == 'bar' %}
                            var len = e.seriesOptions.data.length;
                            var height_per_bar = {{ graph.height_per_bar }};
                            var height =  Math.sqrt(len) * height_per_bar * 5;
                            this.setSize(this.width, height);
                        {% endif %}
                        chrt.setTitle({ text: prev_title.pop() });
                    }
                }
            },
            credits: {
                enabled: false
            },
            title: {text: '{{ graph.title }}'},
            subtitle: {text: '{{ graph.subtitle }}'},
            xAxis: {
                {% if graph.type == 'line' %}
                    categories:[{% for bar in graph.series.bars %}'{{ bar.name }}',{% endfor %}]
                {% else %}
                    type:'category'
                {% endif %}
            },
            yAxis: {
                title: {text: 'Performance'}
            },
            legend: {enabled: false},
            plotOptions: {
                {% if graph.type == 'pie' %}
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y:.1f}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                {% else %}
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}'
                        }
                    }
                {% endif %}
            },
            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span>{point.name}</span>: <b>{point.y:.2f}</b> of 5<br/>'
            },
            series: [
                {
                    name: '{{ graph.series.name }}',
                    {% if graph.type == 'line' %}
                        colorByPoint: false,
                    {% else %}
                        colorByPoint: {{ graph.series.color_by_point }},
                    {% endif %}
                    data: [
                        {% for bar in graph.series.bars %}
                            {% if graph.type == 'line' %}
                                {{ bar.value }},
                            {% else %}
                                {
                                    name: '{{ bar.name }}',
                                    y: {{bar.value}},
                                    {% ifequal bar.drilldown 'null' %}
                                        drilldown: null
                                    {% else %}
                                        drilldown: '{{ bar.drilldown }}'
                                    {% endifequal %}
                                },
                            {% endif %}
                        {% endfor %}
                    ]
                }
            ],
            drilldown: {
                series: [
                    {% for series in graph.drilldown %}
                        {
                            name: '{{ series.name }}',
                            id: '{{ series.id }}',
                            colorByPoint: {{ series.color_by_point }},
                            data: [
                                {% for bar in series.bars %}
                                    {
                                        name: '{{ bar.name }}',
                                        y: {{ bar.value }},
                                        {% ifequal bar.drilldown 'null' %}
                                            drilldown: null
                                        {% else %}
                                            drilldown: '{{ bar.drilldown }}'
                                        {% endifequal %}
                                    },
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            }
        });

    </script>

</div>

