<div id="wrapper">


    <div class="navbar-default sidebar" role="navigation" style="margin-top: 100px">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> By Class<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/analytics/LOAanalysis/class">All Years</a></li>
                        <li><a href="/analytics/LOAanalysis/class/all_branches">All Branches</a></li>
                        <li><a href="/analytics/LOAanalysis/class/all_sections">All sections</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> By Subject<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/analytics/LOAanalysis/subject">All Subjects</a></li>
                        {% for year in year_objs %}
                            <li><a><span class="fa arrow"></span>{{ year }} year</a>
                                <ul class="nav nav-third-level">
                                    {% for branch in year.branches %}
                                        <li><a href="/analytics/LOAanalysis/subject/{{ year }}/{{ branch }}">{{ branch }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

</div>
<!-- /#wrapper -->