{% extends 'navbar_base.html' %}

{% block leftlinks %}

    <a href="/analytics/all" class="w3-bar-item w3-button">Faculty</a>
    <a href="#" class="w3-bar-item w3-button">Facility</a>
    <a href="/analytics/LOAanalysis/" class="w3-bar-item w3-button">LOA</a>

{% endblock leftlinks %}

{% block rightlinks %}

    <a href="/feedback/changepass/" class="w3-bar-item w3-button"><i class="fa fa-user"></i> PROFILE</a>
    <a href="/logout/" class="w3-bar-item w3-button"><i class="fa fa-th"></i> LOGOUT</a>

{% endblock rightlinks %}