<div class="container">

    {% load static %}
<!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'analytics/selectors/bootstrap-select.js' %}"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->


    {% load static %}
    <script src="{% static 'analytics/selectors/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'analytics/selectors/select2.js' %}"></script>

<div class="row">
    <div class="col-sm-8" style=" margin-bottom: 50px" >
        <form action="" method="post">
            {% csrf_token %}
            <label for="ques_selec">Select criteria: </label>
            <select id="ques_selec" class="selectpicker" multiple tabindex="4" name="ques">
                {% for question in all_questions %}
                    <option value="q{{ question.question_id }}" {% if question.question_id in selected_indices %}selected{% endif %}>{{ forloop.counter }}. {{ question.question }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select" name="select_ques" class="btn btn-default">
        </form>
    </div>

    <div >
        <select id="fac_selec" data-placeholder="Choose a Faculty..." class="chosen-select" name="faculty" style="width:250px; margin-right: 25%" tabindex="4">
            {% for faculty in facultys %}<option value="{{ faculty.faculty_id }}">{{ faculty.name }}</option>{% endfor %}
        </select>
        <a id="make_url" href="#" style="margin-left: 5px"><i class="fa fa-search"></i></a>
    </div>



    <script type="text/javascript">

        var $select2Elm = $('.chosen-select');

        $select2Elm.select2();

        $('.selectpicker').selectpicker({
            noneSelectedText: 'Select a question',
            iconBase: 'glyphicon',
            tickIcon: 'glyphicon-ok'
        });

        $('#make_url').click(function(e) {
            e.preventDefault();
            window.location = "/analytics/faculty/" + $('#fac_selec').val();
        });

    </script>

</div>


</div>