<div class="container">
<div class="row">
    <div class="col-sm-9" style=" margin-bottom: 50px" >
        <form action="" method="post">
            {% csrf_token %}
            <label for="ques_selec">Select criteria: </label>
            <select id="ques_selec" class="selectpicker" multiple tabindex="4" name="ques">
                {% for question in all_questions %}
                    <option value="q{{ forloop.counter0 }}" {% if forloop.counter0 in selected_indices %}selected{% endif %}>{{ forloop.counter }}. {{ question.question }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select" name="select_ques" class="btn btn-default">
        </form>
    </div>

    <form action="/analytics/faculty/" method="post">
        {% csrf_token %}
        <div class="col-sm-2">
            <select id="fac_selec" data-placeholder="Search faculty" class="selectpicker" name="faculty" style="width: 200px">
                <option selected disabled>Search faculty</option>
                {% for faculty in facultys %}<option value="{{ faculty.name }}">{{ faculty.name }}</option>{% endfor %}
            </select>
        </div>
        <div style="float: right;">
            <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>
</div>