{% extends 'feedback/base.html' %}

{% block title %} feedback {% endblock %}

{% block head %}

    <style>
        .row.content {height: auto}

        .sidenav {
          background-color: #f1f1f1;
          height: 100%;
        }

        footer {
          background-color: #555;
          color: white;
          padding: 15px;
        }

        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height: auto;}
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'analytics/metisMenu/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'analytics/metisMenu/sb-admin-2.css' %}" rel="stylesheet">


    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>


{% endblock head %}

{% block navbar %}
    {% include 'includes/analytics/navbar.html' %}
{% endblock %}

{% block fullcontent %}
    <br><br><br><br>

    {% include 'includes/analytics/select_bars.html' %}

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'analytics/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'analytics/metisMenu/sb-admin-2.js' %}"></script>


    {% include 'includes/analytics/tree.html' %}

    <div class="container">
        {% include 'includes/analytics/graph.html' %}
    </div>

    <br><br>

{% endblock %}

{% block footer %}
    {% include 'feedback/includes/footer.html' %}
{% endblock %}