{% extends 'base.html' %}

{% block title %} feedback {% endblock %}

{% block head %}

    <style>
        .row.content {height: auto}

        .sidenav {
          background-color: #f1f1f1;
          height: 100%;
        }

        footer {
          background-color: #555;
          color: white;
          padding: 15px;
        }

        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height: auto;}
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap2.css"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/selectize.js" />
    <script>
    $(function() {
        $('select').selectize(options);
    });
    </script>


{% endblock head %}

{% block navbar %}
    {% include 'feedback/includes/navbar.html' %}
{% endblock %}

{% block maincontent %}
    <br><br><br><br>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          {% include 'includes/analytics/tree.html' %}
        </div>

        <div class="col-sm-9">

            <div style="float:right">
            <form action="/analytics/faculty/" method="post">
                {% csrf_token %}
              <input list="facultys" name="faculty" placeholder="Search faculty">
              <datalist id="facultys">
                  {% for faculty in facultys %}<option value="{{ faculty }}">{% endfor %}
              </datalist>
              <button class="searchbutton" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
            </div>

            {% include 'includes/analytics/graph.html' %}
        </div>
      </div>
    </div>


{% endblock %}
