{% extends 'feedback/base.html' %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
{% endblock head %}

{% block title %} Faculty Graph {% endblock title %}

{% block navbar %}
    {% include 'feedback/includes/navbar.html' %}
{% endblock %}

{% block maincontent %}
    <br/><br/><br/><br/>

    {% if error %}
        ERROR: {{ error }}
    {% else %}
        Faculty: {{ faculty }}
        {% include 'includes/analytics/graph1.html' %}
        {% include 'includes/analytics/graph_2.html' %}
        {% include 'includes/analytics/graph_3.html' %}
    {% endif %}
    <br><br>

{% endblock maincontent %}

{% block footer %}
    {% include 'feedback/includes/footer.html' %}
{% endblock %}