{% extends 'feedback/base.html' %}

{% block navbar %} {% include 'includes/analytics/navbar.html' %} {% endblock navbar %}

{% block container_color %}background-color: #0e492d; height: 100%; {% endblock %}

{% block maincontent %}
    <div class="row" style="text-align: center; background-color: #0e492d; color: white; padding: 50px;">
        <h1>Welcome, {{ user.username }}</h1>
        KMIT Student Feedback
    </div>

    <div class="row" style="alignment: center; text-align: center;">

        <div class="col-sm-4" style="background-color: #f6f6f6; padding: 30px; color: #0e492d;"><br><br>
            <a class="btn btn-default btn-outline btn-lg btn-block" href="/analytics/all">Faculty</a>
            <p style="padding:30px;">
                <b>The Feedback on Faculty taken from Students.</b>
            </p>
        </div>
        <div class="col-sm-4" style="background-color: #ffffff; padding: 30px; color: #0e492d;"><br><br>
            <a class="btn btn-default btn-outline btn-lg btn-block" href="#">Facility</a>
            <p style="padding:30px;">
                <b>The Feedback on College Facility taken from Students.</b>
            </p>
        </div>
        <div class="col-sm-4" style="background-color: #f6f6f6; padding: 30px;color: #0e492d;"><br><br>
            <a class="btn btn-default btn-outline btn-lg btn-block" href="">Learning Outcome Assessment</a>
            <p style="padding:30px;">
                <b>The Feedback on Learning Outcome Assessment taken from Students.</b>
            </p>
        </div>

    </div>
{% endblock maincontent %}

{% block footer %}
    {% include 'feedback/includes/footer.html' %}
{% endblock %}