{% extends 'feedback/base.html' %}

{% block navbar %}
    {% include 'includes/analytics/navbar.html' %}
{% endblock %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>


{% block maincontent %}
    <h2 align="center">Reviews Given by the Students</h2><br>
   <form id="bootstrapSelectForm" method="post" class="form-horizontal" >
   {% csrf_token %}
    <div class="form-group" align="center">
        <label class="col-xs-3 control-label">Class</label>
        <div class="col-xs-3 selectContainer">
            <select name="select_class" class="form-control" id="year">
                {% for cls in classes %}
                    <option value="{{ cls.class_id }}">{{ cls }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default" name="submit">Get Reviews</button>
        </div>
    </div>
    </form>

    {% if notes %}
    <table class="table table-bordered">
        <tr><th>S.No.</th><th>Remarks</th></tr>
      {% for note in notes %}
        <tr><td>{{ forloop.counter }}</td><td>{{ note }}</td></tr>
      {% endfor %}
    </table>
    {% else %}
        No remarks, select another class
    {% endif %}


{% endblock %}




{% block footer %}
    {% include 'feedback/includes/footer.html' %}
{% endblock %}