<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Student Feedback{% endblock %}</title>
    {% block staticfiles %}{% endblock %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'feedback/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'feedback/bootstrap/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'feedback/fonts/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'analytics/metisMenu/bootstrap.min.css' %}">

    <style>
        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body style="{% block body_color %}background-color: #4CAF50;{% endblock %} height: 100%">

<script src="{% static 'feedback/bootstrap/jquery.js' %}"></script>
<script src="{% static 'feedback/bootstrap/bootstrap.min.js' %}"></script>


{% block navbar %}
{% endblock %}

{% block fullcontent %}
<div class="container" style="{% block container_color %}background-color: #ffffff; {% endblock %} padding-top: 75px;">
    {% block maincontent %}
    {% endblock %}
</div>
{% endblock fullcontent %}

{% block footer %}
{% endblock %}


</body>
</html>