<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-theme.css' %}" >
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block navbar %}
{% endblock %}

<div class="container">
{% block maincontent %}
    main content
{% endblock %}
</div>

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}


</body>
</html>