<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    {% load static %}
    <!--
    <link rel="stylesheet" href="{% static 'feedback/bootstrap.css' %}" type="text/css" >
    -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block maincontent %}
    main content
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}

</body>
</html>