{% extends 'feedback/base.html' %}

{% block title %} Home {% endblock %}

{% block navbar %}
    {% if user.groups.all.0 == conductor_group %}
        {% include 'feedback/includes/conductor_navbar.html' %}
    {% else %}
        {% include 'feedback/includes/navbar.html' %}
    {% endif %}
{% endblock %}

{% block maincontent %}
    {% if fir or sec or em or pas %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Your Profiles Details are Updated.</strong>
        </div>
    {% endif %}

    {% if repass %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Your New Passwords did not match. Please Check them.</strong>
        </div>
    {% endif %}

    {% if wrongpass %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Enter the Correct Old Password</strong>
        </div>
    {% endif %}

    {% if passnotvalid %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Enter a valid password with 6-12 Characters containing 1 Capital letter, 1 Small letter and 1 Numeric. </strong>
        </div>
    {% endif %}

    <h2 align="center">Update your Profile</h2><br><br>
    <div id="form1" align="center">
    <div class="login-page" align="center" ><h3 style="color:#FFFFFF">Update Profile</h3>
        <div class="form" style="padding: 60px">

       <form method="post" action="">
           {% csrf_token %}
           {{ formset.firstname }}
           {{ formset.lastname }}
           {{ formset.email }}<br><br>
           {{ formset.newpass }}<br><br>
           {{ formset.repass }}<br><br>
           <h4>For the Changes to come into effect,Enter the Current Password</h4><br>
           {{ formset.password }}<br><br>
           <button type="submit">UPDATE</button>
       </form>

    </div>

{% endblock%}
