{% extends 'feedback/base.html' %}

{% block title %} Home {% endblock %}

{% block navbar %}
    {% if user.groups.all.0 == conductor_group %}
        {% include 'feedback/includes/conductor_navbar.html' %}
    {% else %}
        {% include 'feedback/includes/navbar.html' %}
    {% endif %}
{% endblock %}

{% block maincontent %}
    {% if repass %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Your Passwords did not match.Please Check them.</strong>
        </div>
    {% endif %}

    {% if wrongpass %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Enter the Correct Old Password</strong>
        </div>
    {% endif %}

    {% if passnotvalid %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Enter a valid password with 6-12 Characters containing 1 Capital letter, 1 Small letter and 1 Numeric. </strong>
        </div>
    {% endif %}

    <h2 align="center">Update your Profile</h2><br><br>
    <div id="form1" align="center">

       <form method="post" action="">
           {% csrf_token %}
           First Name : {{ formset.firstname }}<br><br>
           Last Name : {{ formset.lastname }}<br><br>
           Email : {{ formset.email }}<br><br>
           New Password : {{ formset.newpass }}<br><br>
           Re-Enter Password : {{ formset.repass }}<br><br>
           <h4>For the Changes to come into effect,Enter the Current Password</h4><br>
           Current Password : {{ formset.password }}<br><br>
           <input type="submit" value="submit">
       </form>

    </div>

{% endblock%}