{% extends 'feedback/base.html' %}

{% block title %} Home {% endblock %}


{% block head %}
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('class');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
{% endblock head %}

{% block navbar %}
    {% include 'feedback/includes/navbar.html' %}
{% endblock %}

{% block maincontent %}

    <h3>Select a class to start the session:</h3>
    <form method="post" action="" id="confirmForm">
        {% csrf_token %}
        <select name="selectClass">
            {% for cls in classes %}
                <option value="{{ cls.class_id }}">{{ cls }}</option>
            {% endfor %}
        </select>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Start Session</button>
     </form>
    {{ thisisit }}
    <!--#After Inserting-->
    {% if submitted %}
        <p> Session Started </p>
        {{ otp }}
    {% endif %}

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
                <p>You are about to start a session for the selected class</p>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Confirm" name="confirmSession" class="btn btn-default" form="confirmForm">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
