{% extends 'feedback/base.html' %}

{% block head %}
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('class');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
{% endblock head %}

{% block title %} Home {% endblock%}

{% block navbar %}
    {% include 'feedback/includes/navbar.html' %}
{% endblock %}


{% block maincontent %}
    <body>
    <div class="container">
    <br><br><br>
        <div style="float:left">
            <h3>Recent Initiations</h3>
            {% for his in total_history %}
                {{ his.class_id }} on {{ his.timestamp }} by {{ his.initiated_by.username }}<br/>
            {% endfor %}
        </div>

        <div style="float:right">
            <h3>Recent Feedbacks</h3>
            {% for recent in recent_feedbacks %}
                {{ recent.initiation_id.class_id }} at {{ recent.timestamp }} by {{ recent.taken_by }} <br/>
            {% endfor %}
        </div>
    </div>
    <br/>

    <form method="post" action="" id="checks">
        {% csrf_token %}
        <div class="container">
          <h2>Initiate a feedback session</h2>
          <p>Select the desired class to initiate and click next:</p>
            {% if  myClasses %}
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="float: right">Initiate</button>
            {% else %}
                <input type="submit" class="btn btn-default" name="nextSection" value="NEXT" style="float: right">
            {% endif %}
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>Year</th>
                {% if fewBranches %}<th>Branch</th>{% endif %}
                {% if myClasses %}<th>Branch</th><th>Section</th>{% endif %}
                <th><input type="checkbox" onClick="toggle(this)"></th>
              </tr>
            </thead>
            <tbody>
                {% if myClasses %}
                    {% for class in myClasses %}
                        <tr>
                            <td>{{ class.year }}</td>
                            <td>{{ class.branch }}</td>
                            <td>{{ class.section }}</td>
                            <td>
                                {% if forloop.counter in notEligible %}
                                    Already initiated.
                                {% else %}
                                    <input type="checkbox" name="class" value="{{ class.year }}-{{ class.branch }}-{{ class.section }}">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for yrrr in years %}
                        <tr>
                            <td>{{ yrrr }}</td>
                            <td><input type="checkbox" name="class" value="{{ yrrr }}"></td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </tbody>
          </table>
        </div>
    </form>


    {% if status %}
        STATUS : <br/>
        {% for i in status %}
            {{ i }}<br/>
        {% endfor %}
    {% endif %}
</body>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
              {% if myClasses %}
                <p>You are about to initiate a faculty feedback session for all the selected classes. Do you want to confirm?</p>

              {% else %}
                  <p>You are about to initiate a faculty feedback session  for the class {{ selectedYear }} {{ selectedBranch }} {{ selectedSection }}. Do you want to confirm?</p>
              {% endif %}
          </div>
          <div class="modal-footer">
              <form method="post" action="" id="confirmForm">
                  {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  {% if myClasses %}
                    <input type="submit" value="Confirm" name="confirmSelected" class="btn btn-default" form="checks">
                  {% else %}
                      <input type="submit" value="Confirm" name="confirmSingle" class="btn btn-default" >
                  {% endif %}
              </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}



