{% extends 'feedback/base.html' %}

{% block title %} Home {% endblock%}

{% block navbar %}
    {% if user.is_authenticated %}
        <li><a href="/feedback/initiate">Home</a></li>
    {% endif %}
    {% include 'feedback/includes/navbar.html' %}
{% endblock %}

{% block maincontent %}
    {{ user.username }}
    {{ user.groups.all.0 }}
    <br>
    {% for his in total_history %}
        {{ his.class_id.year }} {{ his.class_id.branch }} {{ his.class_id.section }} at {{ his.timestamp }} by {{ his.initiated_by.username }}<br/>
    {% endfor %}

    <br/>
    Year:
    <div class="dropdown" id="year_selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {% if selectedYear %}{{ selectedYear }}{% else %}Select year{% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for yr in years %}
                <li><a href="/feedback/initiate/{{ yr.0 }}/">{{ yr.0 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br/>
    {% if selectedYear %}
        Branch:
        <div class="dropdown" id="branch_selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {% if selectedBranch %}{{ selectedBranch }}{% else %}Select branch{% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for br in branches %}
                <li><a href="/feedback/initiate/{{ selectedYear }}/{{ br.0 }}/">{{ br.0 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <br/>
    {% if selectedBranch %}
        Section:
        <div class="dropdown" id="section_selector">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {% if selectedSection %}{{ selectedSection }}{% else %}Select section{% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for sec in sections %}
                <li><a href="{% url 'feedback:initiate' selectedYear selectedBranch sec.0 %}">{{ sec.0 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if selectedSection %}
        <div class="col-sm-3">
            {% if history %}
                {% for his in history %}
                    {{ his.class_id.year }} {{ his.class_id.branch }} {{ his.class_id.section }} at {{ his.timestamp }} by {{ his.initiated_by.username }}
                {% endfor %}
            {% endif %}
        </div>
        <form method="post" action="" id="test">
            {% csrf_token %}
            <input type="submit" value="Initiate">
        </form>
    {% endif %}


{% endblock %}

