{% extends 'feedback/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/stars.css' %}">
{% endblock %}

{% block body_color %} background-color:#ffffff; {% endblock %}

{% block full_pad_top %}1px{% endblock %}

{% block maincontent %}

    <h2 style="text-align: center">Learning Outcomes Assessment</h2>
    <h3 style="text-align: center">{{ class_obj }}</h3>
    <p style="text-align: center">Please answer the questions for each subject.</p>

    <form method="post" action="">
        {% csrf_token %}
        <table class="table table-hover">
            {% for sub_ques in sub_ques_list %}

                <tr>
                    <th style="padding-top: 30px">
                        {{ sub_ques.subject }}
                    </th>
                    <th></th>
                </tr>

                {% for question in sub_ques.questions %}
                    <tr>
                        <td>{{ forloop.counter }}. {{ question }}</td>
                        <td>
                             <span class="star-rating star-3">

                                <input type="radio"
                                       name="star-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"
                                       value="3"
                                       id="star3-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"
                                       required/><i></i>
                                <input type="radio"
                                       name="star-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"
                                       value="2"
                                       id="star2-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"/><i></i>
                                <input type="radio"
                                       name="star-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"
                                       value="1"
                                       id="star1-{{ sub_ques.subject.subject_id }}-{{ question.question_id }}"/><i></i>

                            </span>
                        </td>
                    </tr>
                {% endfor %}


            {% endfor %}
        </table>

        <div align="center">
            <ul class="pager">
                {% if pager.has_next %}
                    <input id="next" class="btn btn-primary" type="submit" value="Next" name="next">
                {% else %}
                    <p align="center">By Clicking Finish, You'll be redirected to Facility Page.</p>
                    <input id="submit" type="submit" value="Submit" name="submit" class="btn btn-success">
                {% endif %}
            </ul>
        </div>


    </form>



    <div>
        <ul class="pagination">
            {% for i in page_index_list %}
                <li {% if pager.number == i %}class="active" {% else %} class="disabled" {% endif %}>
                    <a>{{ forloop.counter }}</a></li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}
