{% extends 'feedback/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'stars.css' %}">
{% endblock %}

{% block maincontent %}
    {{ remarks }}
    <br/><br/>
    <h3>{{ class_obj.year }} {{ class_obj.branch }} {{ class_obj.section }}</h3>
    <div>
        <div style="float:left">
            {% if category == 'facility' %}
                <h2>Facility feedback</h2>
            {% elif category == 'faculty' %}
                <h2>{{ subject }} - {{ faculty }}</h2><br/>
            {% endif %}
        </div>

        <div style="float:right">
            <ul class="pagination" style="float:right">
                {% for i in subjects %}
                    <li {% ifequal forloop.counter pager.number %}class="active" {% else %}class="disabled"{% endifequal %}><a>{{ forloop.counter }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    {% if error %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}

    <form method="post" action="" id="questionForm">
        {% csrf_token %}
        <table class="table" >
            <thead>
              <tr>
                <th>Questions</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    {% if forloop.counter in subcategory %}
                        <tr><td colspan="3"><b>{{ question.subcategory }}</b></td></tr>
                    {% endif %}
                  <tr>
                    <td>{{ question.question }}</td>
                      <td>
                        <fieldset class="rating" name="review">
                            <input type="radio" id="star5-{{ forloop.counter }}" name="star{{ forloop.counter }}" value="5" required /><label class = "full" for="star5-{{ forloop.counter }}" title="Excellent"></label>
                            <input type="radio" id="star4-{{ forloop.counter }}" name="star{{ forloop.counter }}" value="4" /><label class = "full" for="star4-{{ forloop.counter }}" title="Good"></label>
                            <input type="radio" id="star3-{{ forloop.counter }}" name="star{{ forloop.counter }}" value="3" /><label class = "full" for="star3-{{ forloop.counter }}" title="Average"></label>
                            <input type="radio" id="star2-{{ forloop.counter }}" name="star{{ forloop.counter }}" value="2" /><label class = "full" for="star2-{{ forloop.counter }}" title="Poor"></label>
                            <input type="radio" id="star1-{{ forloop.counter }}" name="star{{ forloop.counter }}" value="1" /><label class = "full" for="star1-{{ forloop.counter }}" title="Very poor"></label>
                        </fieldset>
                    </td>

                  </tr>
                {% endfor %}
            </tbody>
        </table>

        <div align="center">
            <ul class="pager">
                {% if pager.has_next %}
                    <input class="btn btn-default" type="submit" value="next" name="next">
                {% else %}
                    <textarea class="form-control" id="remarks" placeholder="Remarks" name="remarks" ></textarea><br/>
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Finish</button>
                {% endif %}
            </ul>
        </div>




    </form>

    {{ allRatings }}

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
              <p>Save all your ratings and finish?</p>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Confirm" name="finish" class="btn btn-default" form="questionForm">
          </div>
        </div>
      </div>
    </div>
{% endblock %}