{% extends 'feedback/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feedback/loginc.css' %}">
    <link rel="stylesheet" type="text/js" href="{% static 'feedback/loginj.js' %}">
{% endblock %}

{% block navbar %}
    {% include 'feedback/includes/student_navbar.html' %}
{% endblock %}

{% block container_color %} {% endblock %}

{% block maincontent %}

    {% if error %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Error!</strong> {{ error }}
        </div>
    {% endif %}
    <h1 style="color:#FFFFFF;">RATE YOUR FACULTY</h1>
    <hr class="star-light">
    <div class="login-page" align="center">
        <div class="form">
            <h3>Enter OTP</h3>

            <p>Enter the OTP that is written on the writing board</p>

            <form method="POST" action="" class="login-form">
                {% csrf_token %}
                <input type="text" id="OTP" name="OTP" required="true" placeholder="OTP">
                <button type="submit">TAKE FEEDBACK</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'feedback/includes/footer.html' %}
{% endblock %}