html{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#header{
padding:20px;
color:gold;
}
table {
    border-collapse: collapse;
    width: 100%;  }

 td {
    padding: 5px;
    text-align: left;
    border-bottom: 0px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
#fot{
color:orange;

position: absolute;
    bottom: 0px;
    right:0px;
    width: 100%;

}


