@import 'fonts/font-awesome.css';

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
    font-family: FontAwesome, serif;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


hr.star-light,
            hr.star-primary {
                margin: 25px auto 30px;
                padding: 0;
                max-width: 250px;
                border: 0;
                border-top: solid 5px;
                text-align: center;
            }

            hr.star-light:after,
            hr.star-primary:after {
                content: "\2605";
                display: inline-block;
                position: relative;
                top: -.8em;
                padding: 0 .25em;
                font-family: FontAwesome;
                font-size: 2em;
            }

            hr.star-light {
                border-color: #fff;
            }

            hr.star-light:after {
                color: #fff;
                background-color: #18bc9c;
            }

            hr.star-primary {
                border-color: #2c3e50;
            }

            hr.star-primary:after {
                color: #2c3e50;
                background-color: #18bc9c;
            }